.product-carousel.owl-carousel.owl-theme.owl-loaded.owl-responsive-1000 {
    overflow: hidden;
}
.single-product h2 a{
    color:orangered;
}
.product-main-img {
    margin-bottom: 10px;
    text-align: center;
}
.product-main-img img {
    width: auto;
}
h2.product-name {
    color: orangered;
}
.product-inner {
    text-align: center;
}
ul.product-tab {
    padding-top: 20px;
}
.product-breadcroumb {
    
}